Repository sdpython/mlprodict, pull requests merged in 2022-03, with the labels that each got.

#371 Support for ONNX functions
  _unittests/ut_onnxrt/test_onnx_inference.py
  _unittests/ut_onnxrt/test_onnxrt_onnxruntime_runtime_.py
  _unittests/ut_plotting/test_text_plotting.py
  mlprodict/onnx_tools/onnx2py_helper.py
  mlprodict/onnxrt/excs.py
  mlprodict/onnxrt/onnx_inference.py
  mlprodict/onnxrt/onnx_inference_node.py
  mlprodict/onnxrt/ops_cpu/__init__.py
  mlprodict/plotting/text_plot.py
Labels: enhancement

#373 Adds support for Expand in python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_expand.py
Labels: runtime

#374 Implements onnx backend with python runtime
  _doc/sphinxdoc/source/backends/backend_onnxruntime1.rst
  _doc/sphinxdoc/source/backends/backend_python.rst
  _doc/sphinxdoc/source/backends/index.rst
  _doc/sphinxdoc/source/conf.py
  _doc/sphinxdoc/source/onnx.rst
  _doc/sphinxdoc/source/onnx_bench.rst
  _unittests/ut_cli/test_cli_backend.py
  mlprodict/onnxrt/backend.py
  mlprodict/onnxrt/backend_ort.py
  mlprodict/onnxrt/backend_py.py
Labels: agility

#375 Adds code to turn onnx example into python unit test
  _unittests/ut_testing/test_onnx_backend.py
  mlprodict/testing/onnx_backend.py
Labels: ci, agility

#377 Implements TreeEnsemble* for opsetml==3
  _unittests/ut_onnx_conv/test_onnx_conv_tree_ensemble.py
  _unittests/ut_onnx_conv/test_onnxrt_runtime_lightgbm.py
  _unittests/ut_onnx_conv/test_onnxrt_runtime_lightgbm_bug.py
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  _unittests/ut_onnxrt/test_onnxrt_validate_documentation.py
  mlprodict/__init__.py
  mlprodict/onnx_conv/convert.py
  mlprodict/onnx_conv/operator_converters/conv_lightgbm.py
  mlprodict/onnx_conv/operator_converters/conv_xgboost.py
  mlprodict/onnx_conv/sklconv/tree_converters.py
  mlprodict/onnxrt/ops_cpu/_op.py
  mlprodict/onnxrt/ops_cpu/_op_helper.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_tree_ensemble_classifier.py
  mlprodict/onnxrt/ops_cpu/op_tree_ensemble_common_p_.hpp
  mlprodict/onnxrt/ops_cpu/op_tree_ensemble_regressor.py
Labels: runtime

#378 Adds function export2xop, exports onnx graph to XOP API
  _unittests/ut_tools/test_export_onnx.py
  mlprodict/npy/xop.py
  mlprodict/onnx_tools/_onnx_export_templates_onnx.tmpl
  mlprodict/onnx_tools/_onnx_export_templates_xop.tmpl
  mlprodict/onnx_tools/onnx_export.py
  mlprodict/onnx_tools/onnx_export_templates.py
Labels: agility

#379 Improves python runtime coverage
  _doc/sphinxdoc/source/backends/backend_micro_runtime.rst
  _doc/sphinxdoc/source/backends/backend_shape_inference.rst
  _doc/sphinxdoc/source/backends/index.rst
  _unittests/ut_cli/test_cli_backend.py
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  _unittests/ut_onnxrt/test_shape_inference.py
  _unittests/ut_testing/test_onnx_backend.py
  _unittests/ut_testing/test_onnx_backend_micro.py
  _unittests/ut_testing/test_onnx_backend_shape.py
  mlprodict/onnxrt/backend.py
  mlprodict/onnxrt/backend_micropy.py
  mlprodict/onnxrt/backend_shape.py
  mlprodict/onnxrt/onnx_micro_runtime.py
  mlprodict/onnxrt/onnx_shape_inference.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_cast.py
  mlprodict/onnxrt/ops_cpu/op_log_softmax.py
  mlprodict/onnxrt/ops_cpu/op_softmax.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/_element_unary.py
  mlprodict/onnxrt/ops_shape/shape_container.py
  mlprodict/onnxrt/ops_shape/shape_result.py
  mlprodict/onnxrt/shape_object.py
  mlprodict/testing/onnx_backend.py
Labels: bug, runtime

#380 Removes method get_output in xop API
  _unittests/ut_documentation/test_run_notebooks_onnx_function.py
  _unittests/ut_npy/test_xop.py
  _unittests/ut_onnx_conv/test_onnx_conv_tree_ensemble.py
  _unittests/ut_plotting/test_plotting.py
  mlprodict/npy/xop.py
Labels: API

#381 Documentation, more notebooks on FFT
  _doc/notebooks/onnx_ffts.ipynb
Labels: coverage

#382 Adds one unit test to check lightgbm conversion with opsetml==3
  _unittests/ut_onnx_conv/test_onnx_conv_tree_ensemble.py
Labels: ci

#383 Improves python runtime for ONNX
  _doc/sphinxdoc/source/backends/backend_python_compiled.rst
  _doc/sphinxdoc/source/backends/index.rst
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  _unittests/ut_onnxrt/test_shape_object.py
  _unittests/ut_testing/test_onnx_backend.py
  _unittests/ut_testing/test_onnx_backend_pyc.py
  _unittests/ut_tools/test_export_onnx.py
  mlprodict/onnx_tools/_onnx_export_templates_onnx.tmpl
  mlprodict/onnx_tools/onnx2py_helper.py
  mlprodict/onnx_tools/onnx_export.py
  mlprodict/onnxrt/backend.py
  mlprodict/onnxrt/backend_pyc.py
  mlprodict/onnxrt/onnx_inference.py
  mlprodict/onnxrt/onnx_inference_node.py
  mlprodict/onnxrt/ops_cpu/_op.py
  mlprodict/onnxrt/ops_cpu/op_average_pool.py
  mlprodict/onnxrt/ops_cpu/op_batch_normalization.py
  mlprodict/onnxrt/ops_cpu/op_clip.py
  mlprodict/onnxrt/ops_cpu/op_gather_elements.py
  mlprodict/onnxrt/ops_cpu/op_identity.py
  mlprodict/onnxrt/ops_cpu/op_reduce_sum.py
  mlprodict/onnxrt/shape_object.py
  mlprodict/testing/onnx_backend.py
Labels: runtime

#384 Supports FunctionProto in XOP API.
  _doc/sphinxdoc/source/conf.py
  _unittests/ut_npy/test_b_numpy_onnx_pyrt_skl.py
  _unittests/ut_npy/test_xop.py
  _unittests/ut_npy/test_xop_function.py
  _unittests/ut_onnx_conv/test_onnx_conv_tree_ensemble.py
  _unittests/ut_plotting/test_text_plotting.py
  _unittests/ut_tools/test_export_onnx.py
  mlprodict/npy/xop.py
  mlprodict/npy/xop_convert.py
  mlprodict/onnx_tools/_onnx_export_templates_onnx.tmpl
  mlprodict/onnx_tools/_onnx_export_templates_xop.tmpl
  mlprodict/onnx_tools/onnx_export.py
  mlprodict/onnx_tools/optim/_onnx_optimisation_common.py
  mlprodict/onnx_tools/optim/onnx_optimisation_identity.py
  mlprodict/onnx_tools/optim/onnx_optimisation_redundant.py
  mlprodict/onnx_tools/optim/onnx_optimisation_unused.py
  mlprodict/onnxrt/onnx_inference_node.py
  mlprodict/onnxrt/ops_cpu/_op.py
Labels: agility, API

#386 Supports operator BitShift for python runtime
  _doc/sphinxdoc/source/backends/backend_python_compiled.rst
  _unittests/ut_grammar_sklearn/test_grammar_sklearn_linear.py
  _unittests/ut_grammar_sklearn/test_grammar_sklearn_preprocessing.py
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_bitshift.py
  mlprodict/testing/model_verification.py
Labels: runtime

#388 Adds support for operator Trilu in python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_trilu.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/_element_unary.py
Labels: runtime

#389 Adds support for operator Selu for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_selu.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/_element_unary.py
Labels: runtime

#390 Adds support for operator HardSigmoid for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_hard_sigmoid.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/_element_unary.py
Labels: runtime

#387 Supports operator Elu for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_elu.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/_element_unary.py
Labels: runtime

#391 Adds support for onnx predefined functions for python runtime
  _doc/sphinxdoc/source/api/tools.rst
  _doc/sphinxdoc/source/backends/backend_micro_runtime.rst
  _doc/sphinxdoc/source/backends/backend_onnxruntime1.rst
  _doc/sphinxdoc/source/backends/backend_python.rst
  _doc/sphinxdoc/source/backends/backend_python_compiled.rst
  _doc/sphinxdoc/source/backends/backend_shape_inference.rst
  _unittests/ut_npy/test_xop_function.py
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  _unittests/ut_tools/test_onnx2py_helper.py
  mlprodict/onnx_tools/onnx2py_helper.py
  mlprodict/onnxrt/onnx_inference.py
  mlprodict/onnxrt/onnx_inference_exports.py
  mlprodict/onnxrt/onnx_inference_node.py
  mlprodict/onnxrt/onnx_shape_inference.py
  mlprodict/onnxrt/ops.py
  mlprodict/onnxrt/ops_cpu/__init__.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/shape_result.py
Labels: runtime

#393 Adds domain in function onnx_simple_text_plot
  _unittests/ut_npy/test_b_function_transformer.py
  _unittests/ut_plotting/test_text_plotting.py
  mlprodict/onnxrt/ops_cpu/op_reduce_sum.py
  mlprodict/plotting/text_plot.py
  mlprodict/testing/test_utils/quantized_tensor.py
  mlprodict/tools/filename_helper.py
Labels: agility

#392 Supports random operators for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_random.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_random.py
  mlprodict/onnxrt/validate/validate_python.py
Labels: runtime

#394 Enables expression OnnxCos[15](...)
  _unittests/ut_npy/test_xop_opset.py
  mlprodict/npy/xop.py
Labels: agility, API

#397 Implements method f in OnnxOperatorItem
  _doc/sphinxdoc/source/conf.py
  _doc/sphinxdoc/source/tutorial/xop_api.rst
  _unittests/ut_npy/test_xop_eval.py
  mlprodict/npy/xop.py
Labels: agility, API

#396 Move grammar_sklearn to subfolder.
  _doc/examples/plot_logistic_regression.py
  _doc/sphinxdoc/source/api/cc_grammar.rst
  _doc/sphinxdoc/source/api/index.rst
  _doc/sphinxdoc/source/api/tools.rst
  _unittests/ut_grammar/test_grammar_sklearn_cov.py
  _unittests/ut_grammar/test_grammar_sklearn_linear.py
  _unittests/ut_grammar/test_grammar_sklearn_preprocessing.py
  _unittests/ut_grammar/test_grammar_sklearn_tree.py
  _unittests/ut_grammar_sklearn/test_grammar_sklearn_linear_bug_float.py
  mlprodict/grammar/__init__.py
  mlprodict/grammar/cc/__init__.py
  mlprodict/grammar/cc/c_compilation.py
  mlprodict/grammar/grammar_sklearn/__init__.py
  mlprodict/grammar/grammar_sklearn/g_sklearn_identify.py
  mlprodict/grammar/grammar_sklearn/g_sklearn_linear_model.py
  mlprodict/grammar/grammar_sklearn/g_sklearn_main.py
  mlprodict/grammar/grammar_sklearn/g_sklearn_preprocessing.py
  mlprodict/grammar/grammar_sklearn/g_sklearn_tree.py
  mlprodict/grammar/grammar_sklearn/g_sklearn_type_helpers.py
  mlprodict/grammar/grammar_sklearn/grammar/__init__.py
  mlprodict/grammar/grammar_sklearn/grammar/api_extension.py
  mlprodict/grammar/grammar_sklearn/grammar/exc.py
  mlprodict/grammar/grammar_sklearn/grammar/gactions.py
  mlprodict/grammar/grammar_sklearn/grammar/gactions_num.py
  mlprodict/grammar/grammar_sklearn/grammar/gactions_tensor.py
  mlprodict/grammar/grammar_sklearn/grammar/gmlactions.py
  mlprodict/grammar/grammar_sklearn/grammar/gtypes.py
  mlprodict/testing/model_verification.py
Labels: refactoring

#399 Supports function SoftmaxCrossEntropyLoss for python runtime
  _doc/sphinxdoc/source/backends/backend_pyeval_inference.rst
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_sce.py
Labels: runtime

#400 Supports local functions calling local functions for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_control_function.py
  mlprodict/onnxrt/onnx_inference.py
  mlprodict/onnxrt/ops_cpu/op_if.py
Labels: bug, runtime

#402 Supports operator Xor for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_xor.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/_element_wise.py
Labels: runtime

#405 Supports operator PRelu for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_prelu.py
Labels: runtime

#403 Supports ReduceLogSum for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_reduce_log_sum.py
Labels: runtime

#404 Fixes Trilu
  mlprodict/onnxrt/ops_cpu/op_trilu.py
Labels: bug, runtime

#401 Removes parameter device, adds parameter provider
  _unittests/ut_module/test_dl_mobilenet.py
  _unittests/ut_onnxrt/test_onnx_inference.py
  _unittests/ut_onnxrt/test_onnxrt_iobinding.py
  appveyor.yml
  azure-pipelines.yml
  mlprodict/npy/onnx_numpy_compiler.py
  mlprodict/npy/xop.py
  mlprodict/onnxrt/onnx_inference.py
  mlprodict/onnxrt/onnx_inference_node.py
  mlprodict/onnxrt/ops.py
  mlprodict/onnxrt/ops_cpu/__init__.py
  mlprodict/onnxrt/ops_onnxruntime/__init__.py
  mlprodict/onnxrt/ops_onnxruntime/_op.py
  mlprodict/onnxrt/ops_whole/session.py
  mlprodict/onnxrt/validate/validate_benchmark_replay.py
  mlprodict/onnxrt/validate/validate_latency.py
  mlprodict/sklapi/onnx_tokenizer.py
  mlprodict/testing/einsum/einsum_bench.py
  mlprodict/testing/onnx_backend.py
  mlprodict/testing/test_utils/utils_backend_onnxruntime.py
  mlprodict/tools/onnx_inference_ort_helper.py
  mlprodict/tools/ort_wrapper.py
  mlprodict/tools/zoo.py
  requirements-win.txt
  requirements.txt
Labels: ci, API

#407 Supports operator Hardmax for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_hardmax.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/_element_unary.py
  mlprodict/onnxrt/validate/validate_python.py
Labels: runtime

#406 Supports operator Bernoulli for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_random.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_hardmax.py
  mlprodict/onnxrt/ops_cpu/op_random.py
  mlprodict/onnxrt/validate/validate_python.py
Labels: runtime
