Repository sdpython/mlprodict, pull requests merged in 2022-04, with the labels that each got.

#409 Fixes bug with EyeLike in python runtime
  _unittests/ut_npy/test_b_function_transformer.py
  _unittests/ut_onnx_conv/test_onnx_conv_tree_ensemble.py
  _unittests/ut_onnxrt/test_custom_runtime_ops.py
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  _unittests/ut_testing/test_onnx_backend.py
  mlprodict/npy/xop.py
  mlprodict/npy/xop_auto.py
  mlprodict/onnx_tools/exports/tf2onnx_helper.py
  mlprodict/onnxrt/backend.py
  mlprodict/onnxrt/ops_cpu/_op.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_cast.py
  mlprodict/onnxrt/ops_cpu/op_eyelike.py
  mlprodict/onnxrt/ops_cpu/op_isinf.py
  mlprodict/onnxrt/ops_cpu/op_negative_log_likelihood_loss.py
  mlprodict/onnxrt/ops_cpu/op_softmax_cross_entropy_loss.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/_element_unary.py
Labels: bug, runtime

#411 Adds support for operators Unique, SoftPlus, SoftSign for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  _unittests/ut_testing/test_onnx_backend.py
  mlprodict/onnxrt/ops_cpu/_op.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_abs.py
  mlprodict/onnxrt/ops_cpu/op_acos.py
  mlprodict/onnxrt/ops_cpu/op_acosh.py
  mlprodict/onnxrt/ops_cpu/op_asin.py
  mlprodict/onnxrt/ops_cpu/op_asinh.py
  mlprodict/onnxrt/ops_cpu/op_atan.py
  mlprodict/onnxrt/ops_cpu/op_atanh.py
  mlprodict/onnxrt/ops_cpu/op_cast.py
  mlprodict/onnxrt/ops_cpu/op_ceil.py
  mlprodict/onnxrt/ops_cpu/op_celu.py
  mlprodict/onnxrt/ops_cpu/op_clip.py
  mlprodict/onnxrt/ops_cpu/op_compress.py
  mlprodict/onnxrt/ops_cpu/op_cos.py
  mlprodict/onnxrt/ops_cpu/op_cosh.py
  mlprodict/onnxrt/ops_cpu/op_cum_sum.py
  mlprodict/onnxrt/ops_cpu/op_erf.py
  mlprodict/onnxrt/ops_cpu/op_exp.py
  mlprodict/onnxrt/ops_cpu/op_floor.py
  mlprodict/onnxrt/ops_cpu/op_hard_sigmoid.py
  mlprodict/onnxrt/ops_cpu/op_leaky_relu.py
  mlprodict/onnxrt/ops_cpu/op_log.py
  mlprodict/onnxrt/ops_cpu/op_log_softmax.py
  mlprodict/onnxrt/ops_cpu/op_lp_normalization.py
  mlprodict/onnxrt/ops_cpu/op_mean.py
  mlprodict/onnxrt/ops_cpu/op_normalizer.py
  mlprodict/onnxrt/ops_cpu/op_reciprocal.py
  mlprodict/onnxrt/ops_cpu/op_relu.py
  mlprodict/onnxrt/ops_cpu/op_round.py
  mlprodict/onnxrt/ops_cpu/op_scaler.py
  mlprodict/onnxrt/ops_cpu/op_sign.py
  mlprodict/onnxrt/ops_cpu/op_sin.py
  mlprodict/onnxrt/ops_cpu/op_sinh.py
  mlprodict/onnxrt/ops_cpu/op_softmax.py
  mlprodict/onnxrt/ops_cpu/op_softplus.py
  mlprodict/onnxrt/ops_cpu/op_softsign.py
  mlprodict/onnxrt/ops_cpu/op_solve.py
  mlprodict/onnxrt/ops_cpu/op_sqrt.py
  mlprodict/onnxrt/ops_cpu/op_tan.py
  mlprodict/onnxrt/ops_cpu/op_tanh.py
  mlprodict/onnxrt/ops_cpu/op_unique.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/_element_unary.py
Labels: runtime

#412 Adds support for DynamicQuantizeLinear for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  _unittests/ut_testing/test_onnx_backend.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_isinf.py
  mlprodict/onnxrt/ops_cpu/op_quantize_linear.py
  mlprodict/onnxrt/ops_cpu/op_selu.py
Labels: runtime

#413 Adds support for operator Shink for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_shrink.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/_element_unary.py
Labels: runtime

#415 Implements experimentation im2col (used in image convolution)
  _doc/sphinxdoc/source/api/onnxrt.rst
  _doc/sphinxdoc/source/api/testing.rst
  _doc/sphinxdoc/source/api/tools.rst
  _doc/sphinxdoc/source/conf.py
  _unittests/ut_module/test_code_style.py
  _unittests/ut_onnxrt/test_cpu_ops.py
  bin/build.bat
  mlprodict/onnxrt/ops_cpu/op_common_.hpp
  mlprodict/onnxrt/ops_cpu/op_conv_helper.py
  mlprodict/onnxrt/ops_cpu/op_conv_helper_.cpp
  mlprodict/onnxrt/ops_cpu/op_conv_matrices_.hpp
  setup.py
Labels: documentation

#417 C++ implementation for Im2col and Col2Im in 2D
  _doc/sphinxdoc/source/api/testing.rst
  _unittests/ut_onnxrt/test_cpu_ops.py
  mlprodict/onnxrt/ops_cpu/op_conv_helper.py
  mlprodict/onnxrt/ops_cpu/op_conv_helper_.cpp
  mlprodict/onnxrt/ops_cpu/op_conv_helper_.hpp
Labels: runtime

#419 Adds support for ThresholdedRelu for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  _unittests/ut_testing/test_onnx_backend.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_relu.py
  mlprodict/onnxrt/ops_cpu/op_rnn.py
  mlprodict/onnxrt/ops_shape/__init__.py
  mlprodict/onnxrt/ops_shape/_element_unary.py
  mlprodict/testing/onnx_backend.py
Labels: runtime

#420 Adds support for operator Resize for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/npy/xop.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_resize.py
Labels: runtime

#421 Adds support for Adagrad, Adam in python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_training.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_adagrad.py
  mlprodict/onnxrt/ops_cpu/op_adam.py
Labels: runtime

#422 Adds support for NonMaxSuppression for python runtime
  _unittests/ut_module/test_code_style.py
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_non_max_suppression.py
  mlprodict/onnxrt/ops_cpu/op_non_max_suppression_.cpp
  setup.py
Labels: runtime

#423 Adds support for Momentum for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_training.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_global_average_pool.py
  mlprodict/onnxrt/ops_cpu/op_momentum.py
Labels: runtime

#425 Adds support for operator GridSample for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_conv_helper_.hpp
  mlprodict/onnxrt/ops_cpu/op_grid_sample.py
  mlprodict/onnxrt/ops_cpu/op_grid_sample_.cpp
  setup.py
Labels: runtime

#426 Adds support for operator RoiAlign for python runtime
  _unittests/ut_onnxrt/test_onnxrt_python_runtime_.py
  mlprodict/onnxrt/ops_cpu/_op_list.py
  mlprodict/onnxrt/ops_cpu/op_roi_align.py
  mlprodict/onnxrt/ops_cpu/op_roi_align_.cpp
  setup.py
Labels: runtime
